* {
    box-sizing: border-box;

}

body {
    margin: 0 auto;
    padding: 0;
    font-family: arial;
    background-color: rgb(32, 32, 32);
}

.teste {
    height: 100vh;
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}

.hero {
    padding: 0 3rem;
}

.header {
    display: flex;
    align-items: center;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu-left,
.menu-right {
    margin-top: 3rem;
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 1.25rem;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li {
    padding-right: .9rem;
}


.menu .user {
    display: flex;
    align-items: center;
}

.menu i {
    font-size: 20px;
}

.menu-right ul li {
    padding-right: 1.5rem;
}

.banner {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
}


.banner .subtitile {
    font-size: 1.25rem;
    color: #fff;
    line-height: 1.25rem;
    padding-top: .5rem;
}

.buttons {
    margin-left: 1.5rem;
    margin-top: 0rem;
}

.buttons .btn {
    color: #fff;
    padding: 0.6rem 2rem;
    margin-right: 0.75rem;
    font-weight: 600;
    border-radius: 0.125rem;
    background: rgba(51, 51, 51, 0.4);
    font-family: inherit;
    font-size: 100%;
    border: 0;
}

.buttons .btn i {
    margin-right: 0.5rem;
}

.category {
    margin-top: 13rem;
    height: 250px;
}

.category span {
    color: #e5e5e5;
    font-size: 32px;
    line-height: 17px;
    font-weight: 600;
}


.slider {
    margin-top: 0.8rem;
    display: flex;
    overflow-y: none;
    overflow-x: scroll;
    position: absolute;
    left: 3.75rem;
    right: 0;
}

.imagem img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.imagem:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.movie {
    border-radius: 0.425rem;
    margin-left: 6px;
    margin-right: 6px;
}

.video {
    border-radius: 0.425rem;
    width: 500px;
    height: 500px;
    margin-left: 6px;
    margin-right: 6px;
}
.video2 {
    border-radius: 0.425rem;
    width: 500px;
    height: 500px;
    margin-left: 6px;
    margin-right: 6px;
}

.slider-resultado {
    margin-top: 1%;
    justify-content: left;
    display:inline-block;
    overflow-y: none;
    overflow-x: none;
    position: absolute;
    left: 5%;
    right: 5%;
}

.slider-resultado img {
    height: 200px;
    width: 300px;
}

.slider-resultado .movie img {
    overflow-x: none;
    justify-content: center;
    padding-right: 5px;
}


.slider img {
    height: 250px;
    width: 300px;
}

.results-descubra{
    max-height: 50%;
    max-width: 100%;
    text-align: center;
}

.slider .movie img {
    overflow-x: scroll;
    max-width: 50%;
    max-width: 100%;
    padding-right: 5px;
}

/* Estilo padrão */
.slider::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Cor da barra de rolagem */
.slider::-webkit-scrollbar-thumb {
    background-color: #333;

}

/* Cor do fundo da barra de rolagem */
.slider::-webkit-scrollbar-track {
    background-color: #6e6e6e;
}

/* Hover do botão da barra de rolagem */
.slider::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}




.footer {
    margin-top: 20rem;
    width: 80%;
    color: #808080;
}

.footer .social i {
    padding-right: 26px;
    font-size: 26px;
}

.flex {
    display: flex;
    padding-bottom: 80px;
}

.footer .info {
    width: 25%;
}

.footer .info ul {
    list-style: none;
    display: inline;
    font-size: 12px;
}

.footer .info ul {
    margin-top: 8px;
}
